<!DOCTYPE html>
<html>
<head>
	<title> Oral Hygiene </title>
	<link rel="icon" href="o.jpeg" type="image">
	<style>
		body{
		background-image:url("MIST.jpg");
		background-size: cover;
		background-attachment: fixed;
	}